

section {
  list-style-type: none;
  box-shadow: 0 0 5px #DDDDDD;
  background-color: white;
  border: 1px solid #BBBBBB;
  /* border-radius: 5px; */
  box-sizing: border-box;
  padding: 10px;
}

.hidden {
  display: none;
}

#intro {
  margin: 10px;
  height: 100px;
}

#install {
  background-color: green;
  color: white;
  cursor: pointer;
}
#status {
  color: blue;
  font-weight: bold;
}

#detail {
  display: grid;
  /* grid-gap: 10px; */
  /* padding: 10px; */
  height: calc(100% - 120px);
  margin-top: 10px;
  padding-left: 10px;
  border-top: 1px solid;
}

#adapterEditor {
  height: 100%;
  grid-row: 1;
}

#info{
  grid-row: 1;
}
