section {
  list-style-type: none;
  box-shadow: 0 0 5px #DDDDDD;
  background-color: white;
  border: 1px solid #BBBBBB;
  /* border-radius: 5px; */
  box-sizing: border-box;
  padding: 10px;
}

/* Adapter page related */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.hidden {
  display: none;
}

#intro {
  margin: 10px;
  height: 100px;
}

#status {
  color: blue;
  font-weight: bold;
}

#error {
  color: red;
  font-weight: bold;
}

#detail {
  height: calc(100% - 130px);
  margin-top: 10px;
  padding-left: 10px;
  border-top: 1px solid;
}

#adapterEditor {
  height: 100%;
}

